
body {
    background-color: #f0f0f0;
    color: #b33232;
  }
  
  header {
    background-color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  header.dark-mode {
    background-color: #444;
  }
  
  main.dark-mode {
    background-color: #333;
    border-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }